h1 {
    color: #d8e8e7;
    padding: 2px;
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    margin-top: 45px;
    margin-bottom: 20px;
    margin-right: 750px;
    margin-left: 5px;
  }
  
  p {
    margin-top: 15px;
    margin-bottom: 25px;
    margin-right: 750px;
    margin-left: 20px;
  }
  
  .links a {
    font-size: 18px;
    color:#C7CACC;
  }
  
  .website a {
      font-size: 18px;
    color:#C7CACC;
  }
  
  img {
    height: 500px;
    width: 700px;
    margin: auto;
    z-index:-1;
  }
  
  .footer {
      border-style: solid;
    border-color: whitesmoke;
    border-width: 1px;
    font-size: 20px;
    color: lightgrey;
  }
  