.logoimage {
  padding-left: 25px;
  padding-top: 15px;
  width: 480px;
  height: 160px;
}

.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  background-color: #818a9c;
}

.description {
  padding-top: 15px;
  font-size: 35px;
  font-family: "Barlow Condensed", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-weight: bold ;
}

.coverimage {
  padding-top: 25px;
  width: 500px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  padding-top: 25px;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
  padding-bottom: 15px;
}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
  nav > .fa-bars {
    margin: 5px;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav > i {
    padding: 1rem;
    font-size: 2em;
  }
  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }
  nav > ul > li {
    padding: .5rem;
    list-style-type: none;
  }
}

nav > .fa-bars {
  display: none;
}
