.logoimage {
  padding-left: 25px;
  padding-top: 15px;
  width: 480px;
  height: 160px;
}

.nav-links{
  box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:flex;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 31px;
  text-shadow:0px 1px 0px #ced9bf;
  justify-content: space-around;
  margin-left: 75px;
  margin-right: 75px;
  list-style: none;
}

.nav-links:hover {
  background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}

.nav-links:active {
  position:relative;
	top:4px;
}

.description {
  padding-top: 15px;
  font-size: 35px;
  font-family: "Barlow Condensed", sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-weight: bold;
  background-color: ivory;
}

.coverimage {
  padding-top: 25px;
  width: 500px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.footer {
  padding-top: 25px;
  display: flex;
  font-size: 20px;
  padding-bottom: 15px;
  justify-content: space-around;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: ivory;
  margin-left: 410px;
  margin-right: 410px;

}

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }
  nav > .fa-bars {
    margin: 5px;
  }
  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav > i {
    padding: 1rem;
    font-size: 2em;
  }
  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }
  nav > ul > li {
    padding: .5rem;
    list-style-type: none;
  }
}

nav > .fa-bars {
  display: none;
}

.youtube{
margin-right: 50px;
}


.homestatement{
font-size: 45px;
margin-left: 200px;
margin-right: 700px;
font-weight: bold;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: ivory;
}

.intro {
  font-size: 20px;
  margin-right: 50px;
  margin-left: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: ivory;
  text-indent: 30px;
}

.mask {
  font-size: 28px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 50px;
  padding-left: 30px;
background-color: ivory;
}

.adult {
  width: 350px;
  height: 450px;
  margin-left: 100px;
}

.glasses {
  width: 450px;
  height: 250px;
}

.child {
  height: 450px;
  width: 350px;

}

.safety {
font-size: 30px;
margin-left: 200px;
margin-right: 200px;
margin-bottom: 250px;
background-color: ivory;
text-indent: 50px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form {
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: ivory;
  margin-bottom: 100px;
  margin-left: 380px;
  margin-right: 380px;
}

body {
  background-image: url("https://media.discordapp.net/attachments/342162377355034624/776224911429599272/backround.jpg?width=671&height=474");

}

#biotop {
display:flex;
flex-direction: row;
align-items: center;
}

@media (max-width: 768px){
  #biotop{
    flex-direction: column;
  }
}

.coronalight {
  font-size: 45px;
justify-content: flex-end;
  display: flex;
  margin-right: 80px;
  margin-left: 440px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: ivory;
}

.coronalightdes {
font-size: 20px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
background-color: ivory;
justify-content: flex-end;
  display: flex;
  margin-right: 40px;
  margin-left: 50px;
}

.homeparagraphphoto {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.coronaphoto {
  width: 550px;
  height: 330px;
  margin-right: 50px;
}

.coronalightparagraph {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.coronadomino{
  margin-right: 20px;
  width: 500px;
}
